.section-contact {
    padding: 10rem 2.8rem 8.5rem 2.8rem;
    background-color: #4a679e;
}
.contact__logo {
    margin-bottom: 1rem;
}
.contact__logo > img {
    display: block;
    margin: 0 auto;
}
.contact__header {
    color: var(--white);
}
.contact__btn-wrap {
    margin-bottom: 5rem;
}
.contact__btn {
    color: #fff;
    border: solid 1px #fff;
}
.contact__item-wrap {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 3rem;
}
.contact__item-wrap > div {
    width: 50%;
}
.contact__map {
    height: 35rem;
}
.contact__text-wrap {
    padding: 5rem;
    height: 35rem;
}
.contact__text-wrap > h3 {
    line-height: 1.5;
    font-weight: 400;
    font-size: 2.4rem;
    word-break: keep-all;
}
.contact__text-wrap > p {
    margin-bottom: 1.5rem;
    color: #aaa;
    line-height: 2;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.contact__address > li {
    color: #666;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.25px;
}
.contact__address > li > em {
    color: #4a679e;
    font-weight: 700;
    text-transform: uppercase;
}
.contact__sticker {
    position: absolute;
    right: 3rem;
    bottom: -6rem;
}


/* media query */
@media (max-width : 1200px) {

}
@media (max-width : 1024px) {
    .section-contact {
        padding: 10rem 2.8rem 15rem 2.8rem;
        background-color: #4a679e;
    }
    .contact__sticker {
        right: 4rem;
        bottom: -12rem;
    }
}
@media (max-width : 980px) {
    .contact__item-wrap {
        flex-direction: column;
        width: 100%;
        max-width: inherit;
        border-radius: 3rem;
    }
    .contact__item-wrap > div {
        width: 100%;
    }
    .contact__text-wrap {
        height: 28rem;
    }
}
@media (max-width : 800px) {
    .contact__item-wrap > div {
        width: 100%;
    }
    .contact__map {
        height: 28rem;
    }
    .contact__text-wrap {
        height: 21rem;
    }
}
@media (max-width : 736px) {
    .section-contact {
        padding: 5rem 2.8rem;
    }
    .contact__btn-wrap {
        margin-bottom: 3rem;
    }
    .contact__map {
        height: 15rem;
    }
    .contact__text-wrap {
        padding: 2rem;
        height: auto;
    }
    .contact__text-wrap > h3 {
        line-height: 1.3;
        font-size: 1.68rem;
        margin-bottom: 0.5rem;
    }
    .contact__text-wrap > p {
        margin-bottom: 5px;
        line-height: 1.3;
        font-size: 1rem;
    }
    .contact__address > li {
        font-size: 1.26rem;
        line-height: 2rem;
        letter-spacing: -0.25px;
    }
    .contact__sticker {
        right: 1rem;
        bottom: -4rem;
        text-align: right;
    }
    .contact__sticker > img {
        width: 40%;
    }
}
@media (max-width : 480px) {
    .section-contact {
        padding: 5rem 1.6rem;
    }
     .contact__sticker {
        right: .5rem;
    }
}