.footer {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    background-color: #222222;
}
.footer__copyright {
    width: 19.8rem;
}
.footer__copyright > img {
    margin-top: 1rem;
    width: 100%;
}
.footer__btn {
    padding: 1rem 3rem;
    color: var(--white);
    border: .1rem solid var(--white);
    border-radius: 3rem;
    font-size: 1.2rem;
}
