  :root {
    /* 기본 색상  */
    --white: #fff;
    --black: #222;
    --dark-gray: #444;
    --gray: #666;
  }
/* 글자 숨기기 */
.hide {
    position: absolute; 
    clip: rect(0,0,0,0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
.title {
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
}


@media (max-width : 767px) {
  .title {
      font-size: 4.3rem;
  }
}
@media (max-width : 736px) {
  .title {
      font-size: 3.2rem;
      margin-bottom: 2rem;
  }
}